# Filtering the DataFrame with Boolean Arrays (Masks)

- Use [this CheatSheet](https://www.craft.do/s/G80r1dqrQKrjTb/b/F80131CD-4914-414F-8B93-C03B5D1AFCD5/DataFrame) to work better with the following exercises.

## Load the data

In [1]:
import plotly.express as px #!

df_countries = px.data.gapminder()
df_countries = df_countries.query('year == 2007')
df_countries = df_countries.set_index('country')
df_countries

            continent  year  lifeExp       pop    gdpPercap iso_alpha  iso_num
country
Afghanistan      Asia  2007   43.828  31889923   974.580338       AFG        4
Albania        Europe  2007   76.423   3600523  5937.029526       ALB        8
...               ...   ...      ...       ...          ...       ...      ...
Zambia         Africa  2007   42.384  11746035  1271.211593       ZMB      894
Zimbabwe       Africa  2007   43.487  12311143   469.709298       ZWE      716

[142 rows x 7 columns]

## Select only Asian countries in the DataFrame

### Create the mask of Trues and Falses based on the condition

### Filter the DataFrame with the `mask` of Trues

## Which countries has a Life Expentancy greater than 80 years old?

### Create the mask of Trues and Falses based on the condition

### Filter the DataFrame with the `mask` of Trues

## Countries from Asia with Life Expentancy greater than 80 years old

### Compute the masks

### Filter the `DataFrame` based on multiple conditions

#### Intersection

#### Union

## Get access to our Python Course for Data Visualization

https://courses.resolvingpython.com/data-visualization