# Filtering the DataFrame with Boolean Arrays (Masks)

- Use [this CheatSheet](https://www.craft.do/s/G80r1dqrQKrjTb/b/F80131CD-4914-414F-8B93-C03B5D1AFCD5/DataFrame) to work better with the following exercises.

## Load the data

In [57]:
import plotly.express as px

df_countries = px.data.gapminder()
df_countries = df_countries.query('year == 2007')
df_countries = df_countries.set_index('country')
df_countries

            continent  year  lifeExp       pop    gdpPercap iso_alpha  iso_num
country
Afghanistan      Asia  2007   43.828  31889923   974.580338       AFG        4
Albania        Europe  2007   76.423   3600523  5937.029526       ALB        8
...               ...   ...      ...       ...          ...       ...      ...
Zambia         Africa  2007   42.384  11746035  1271.211593       ZMB      894
Zimbabwe       Africa  2007   43.487  12311143   469.709298       ZWE      716

[142 rows x 7 columns]

## Select only Asian countries in the DataFrame

### Create the mask of Trues and Falses based on the condition

In [35]:
mask_asia = df_countries.continent == 'Asia'
mask_asia

country
Afghanistan     True
Albania        False
               ...
Zambia         False
Zimbabwe       False
Name: continent, Length: 142, dtype: bool

### Filter the DataFrame with the `mask` of Trues

In [37]:
df_countries

            continent  year  lifeExp       pop    gdpPercap iso_alpha  iso_num
country
Afghanistan      Asia  2007   43.828  31889923   974.580338       AFG        4
Albania        Europe  2007   76.423   3600523  5937.029526       ALB        8
...               ...   ...      ...       ...          ...       ...      ...
Zambia         Africa  2007   42.384  11746035  1271.211593       ZMB      894
Zimbabwe       Africa  2007   43.487  12311143   469.709298       ZWE      716

[142 rows x 7 columns]

In [36]:
df_countries[mask_asia]

,continent,year,lifeExp,pop,gdpPercap,iso_alpha,iso_num
country,,,,,,,
Afghanistan,Asia,2007,43.828,31889923,974.580338,AFG,4
Bahrain,Asia,2007,75.635,708573,29796.048340,BHR,48
...,...,...,...,...,...,...,...
West Bank and Gaza,Asia,2007,73.422,4018332,3025.349798,PSE,275
"Yemen, Rep.",Asia,2007,62.698,22211743,2280.769906,YEM,887

## Which countries has a Life Expentancy greater than 80 years old?

### Create the mask of Trues and Falses based on the condition

In [41]:
mask_80 = df.lifeExp > 80

In [42]:
mask_80

country
Afghanistan    False
Albania        False
               ...
Zambia         False
Zimbabwe       False
Name: lifeExp, Length: 142, dtype: bool

### Filter the DataFrame with the `mask` of Trues

In [46]:
df_80 = df_countries[mask_80]

In [47]:
df_80

            continent  year  lifeExp       pop    gdpPercap iso_alpha  iso_num
country
Australia     Oceania  2007   81.235  20434176  34435.36744       AUS       36
Canada       Americas  2007   80.653  33390141  36319.23501       CAN      124
...               ...   ...      ...       ...          ...       ...      ...
Sweden         Europe  2007   80.884   9031088  33859.74835       SWE      752
Switzerland    Europe  2007   81.701   7554661  37506.41907       CHE      756

[13 rows x 7 columns]

## Countries from Asia with Life Expentancy greater than 80 years old

### Compute the masks

In [48]:
mask_asia

country
Afghanistan     True
Albania        False
               ...
Zambia         False
Zimbabwe       False
Name: continent, Length: 142, dtype: bool

In [49]:
mask_80

country
Afghanistan    False
Albania        False
               ...
Zambia         False
Zimbabwe       False
Name: lifeExp, Length: 142, dtype: bool

### Filter the `DataFrame` based on multiple conditions

#### Intersection

In [52]:
df_countries

            continent  year  lifeExp       pop    gdpPercap iso_alpha  iso_num
country
Afghanistan      Asia  2007   43.828  31889923   974.580338       AFG        4
Albania        Europe  2007   76.423   3600523  5937.029526       ALB        8
...               ...   ...      ...       ...          ...       ...      ...
Zambia         Africa  2007   42.384  11746035  1271.211593       ZMB      894
Zimbabwe       Africa  2007   43.487  12311143   469.709298       ZWE      716

[142 rows x 7 columns]

In [51]:
df_countries[mask_asia]

,continent,year,lifeExp,pop,gdpPercap,iso_alpha,iso_num
country,,,,,,,
Afghanistan,Asia,2007,43.828,31889923,974.580338,AFG,4
Bahrain,Asia,2007,75.635,708573,29796.048340,BHR,48
...,...,...,...,...,...,...,...
West Bank and Gaza,Asia,2007,73.422,4018332,3025.349798,PSE,275
"Yemen, Rep.",Asia,2007,62.698,22211743,2280.769906,YEM,887

In [53]:
df_countries[mask_asia & mask_80]

,continent,year,lifeExp,pop,gdpPercap,iso_alpha,iso_num
country,,,,,,,
"Hong Kong, China",Asia,2007,82.208,6980412,39724.97867,HKG,344
Israel,Asia,2007,80.745,6426679,25523.27710,ISR,376
Japan,Asia,2007,82.603,127467972,31656.06806,JPN,392

#### Union

In [54]:
df_countries[mask_asia | mask_80]

,continent,year,lifeExp,pop,gdpPercap,iso_alpha,iso_num
country,,,,,,,
Afghanistan,Asia,2007,43.828,31889923,974.580338,AFG,4
Australia,Oceania,2007,81.235,20434176,34435.367440,AUS,36
...,...,...,...,...,...,...,...
West Bank and Gaza,Asia,2007,73.422,4018332,3025.349798,PSE,275
"Yemen, Rep.",Asia,2007,62.698,22211743,2280.769906,YEM,887

## Get access to our Python Course for Data Visualization

https://courses.resolvingpython.com/data-visualization