# Data Visualizations with Excel Data Tables

## Load Excel in Python

- premier_league.xlsx

In [1]:
import pandas

In [4]:
pandas.read_excel('premier_league.xlsx')

                        team  goals  points
0            Manchester City     99      93
1                  Liverpool     94      92
2                    Chelsea     76      74
3          Tottenham Hotspur     69      71
4                    Arsenal     61      69
5          Manchester United     57      58
6            West Ham United     60      56
7             Leicester City     62      52
8   Brighton and Hove Albion     42      51
9    Wolverhampton Wanderers     38      51
10          Newcastle United     44      49
11            Crystal Palace     50      48
12                 Brentford     48      46
13               Aston Villa     52      45
14               Southampton     43      40
15                   Everton     43      39
16              Leeds United     42      38
17                   Burnley     34      35
18                   Watford     34      23
19              Norwich City     23      22

## Create a scatter plot

### Import matplotlib library

### Access column data separately

### Pass data to scatter function

## Customize the plot

### Change the size

### Change the color

### Change the marker

### Change the border

## Interactive scatter plot

Which team represents each point?

### Import plotly library

In [2]:
import plotly.express as px

### Pass data to scatter function

In [ ]:
px.

### Add data to hovering

## Data Analysis

- [ ] What is the relationship between Goals (x-axis) and Points (y-axis)?